body {
    font-family: "Francois One", sans-serif;
    overflow-x: hidden;
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
}

.section-header {
    position: relative;
    overflow: hidden;
    background: url("../../img/bgBanner1.jpg");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    height: 110vh;
}

.section-header::before {
    content: "";
    display: block;
    position: absolute;
    background: #000000;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

.section-content-results {
    background: url("../../img/bgContent.jpg");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    
}

.section-content-results::before {
    content: "";
    display: block;
    position: absolute;
    background: #000000;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

.section-content-signature1 {
    background-color: none;
}

#MenuTop {
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #f1f4f8;
}

#DivServ {
    margin-top: 3vh;
    margin-bottom: 5vh;
    font-size: 20px;
    color: gold;
}

.carousel-item h2 {
    margin-top: 15vh;
    font-size: 8vw;
    //text-shadow: #f1f4f8 2px 2px;
    color: #cccccc;
}

.carousel-item h1 {
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 2px rgba(220, 220, 220, 0.8);
}

.control-arrow {
    margin-top: 20vh;
    color: #cccccc;
    font-size: 5vw;
}

.carousel-caption p {
    font-size: 22px;
    text-shadow: black 2px 2px;
    color: #f1f4f8;
}

#DivOwner{
    overflow:hidden;
}

#ImgOwner {
    transition: all 0.3s linear;
    filter: blur(3px);
}

#ImgOwner:hover {
    filter: blur(0);
    transform: scale(1.03);
}

#DivYears {
    border: #f1f4f8 14px solid;
}

#DivTransp{
    z-index:1;
}

#DivAngus{
    background-image:url('../../img/imgAngus.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height:700px;
}

.carousel li{
    border-radius:100%;
    width:10px;
    height:10px;
}

#CarouselStyle{
    transition: box-shadow 0.5s ease;
}

#CarouselStyle:hover{
    box-shadow: 0 0 5em #f1f4f8;
}

#DivSatriani{
    background-image:url('../../img/imgSatriani.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height:700px;
}

#DivVai{
    background-image:url('../../img/imgVai.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height:700px;
}

#DivKnopfler{
    background-image:url('../../img/imgKnopfler.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height:700px;
}


.BotaoGold {
    width:250px;
    font-size: 12pt;
    background-color: #ffc107;
    color: #333333;
    border: #333333 3px solid;
    transition: all 0.3s ease;
}

.BotaoGold:hover {
    text-decoration: none;
    background-color: #333333;
    color: #f1f4f8;
    border: #333333 3px solid;
}

.Botaolight {
    width:250px;
    font-size: 12pt;
    background-color: #f1f4f8;
    color: #333333;
    border: #333333 3px solid;
    transition: all 0.3s ease;
}

.Botao#f1f4f8:hover {
    text-decoration: none;
    font-size: 12pt;
    background-color: #333333;
    color: #f1f4f8;
    border: #333333 3px solid;
}

.BotaoDark {
    width:250px;
    font-size: 12pt;
    background-color: #333333;
    color: #333333;
    border: #333333 3px solid;
    transition: all 0.3s ease;
}

.BotaoDark:hover {
    text-decoration: none;
    font-size: 12pt;
    background-color: #ffc107;
    color: #f1f4f8;
    border: #333333 3px solid;
}

#DivArtist1 {
    background: url("../../img/imgClapton.jpg");
    background-size: cover;
    background-position-x: center;
    overflow: hidden;
    min-height: 850px;
}

#DivArtist2 {
    background: url("../../img/imgSmith.jpg");
    background-size: cover;
    background-position-x: center;
    overflow: hidden;
    min-height: 850px;
}

.card-counters{
    width:90%;
    height:200px;
    background-color:#ffc107;
    border: #f1f4f8 10px solid;
}

.card-counters h1{
    font-size: 6vh;
}

.card-counters h4{
    font-size: 1.2vw;
}

#DivArtist3 {
    background: url("../../img/imgPaisley.jpg");
    background-size: cover;
    background-position-x: center;
    overflow: hidden;
    min-height: 850px;
}

#DivBlues {
    background: url("../../img/imgBlues.jpg");
    background-size: cover;
    background-position-x: center;
    overflow: hidden;
    min-height: 700px;
}


.Botao:hover {
    text-decoration: none;
    background-color: #333333;
    color: #f1f4f8;
}

.title-big {
    font-size: 40pt;
}

.title-bordered {
    font-size: 40pt;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.title-bordered-inverse {
    font-size: 40pt;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

.count-number {
    color: #ffd700;
}

.img-grow {
    transition: all 0.5s ease;
}
.img-grow:hover {
    transform: scale(1.1);
}


#DivProj1 {
    position: absolute;
    left: 30px;
    top: 220px;
    transition-delay: 0.2s;
    overflow: hidden;
}

#DivProj2 {
    position: absolute;
    left: 420px;
    top: 50px;
    transition-delay: 0.4s;
    overflow: hidden;
}

.ListData {
    background-color: rgba(0, 0, 0, 0);
    color: #f1f4f8;
    border: #f1f4f8 1px groove;
}

.ListData:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #333333;
    border: #f1f4f8 1px groove;
}

.CaixaTexto{
    background-color:transparent;
    border: #333333 2px solid;
    height:50px;
}

.AreaTexto{
    background-color:transparent;
    border: #333333 2px solid;
    resize:none;
}



/*****OBSERVERS********/
.DivGrow {
    transition: all 1s ease;
    transition-delay: 0.2s;
    transform: scale(0);
}

.grow-up {
    transform: scale(1);
}

.DivFade {
    transition: opacity 2s ease;
    transition-delay: 0.5s;
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.DivDown {
    transition: all 0.8s ease;
    transition-delay: 0.5s;
    transform: translateY(120%);
    opacity: 0;
}

.from-down {
    transform: translateY(0%);
    opacity: 1;
}

.DivLeft {
    transition: all 1s ease;
    transition-delay: 0.2s;
    transform: translateX(-100%);
    opacity: 0;
}

.from-left {
    transform: translateX(0%);
    opacity: 1;
}

.DivRight {
    transition: all 1s ease;
    transition-delay: 0.2s;
    transform: translateX(100%);
    opacity: 0;
}

.from-right {
    transform: translateX(0%);
    opacity: 1;
}

.DivBlur {
    transition: all 1s ease;
    filter: blur(10px);
}

.no-blur {
    filter: blur(0px);
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

@media (min-width: 993px) {
    #DivYears {
        position: absolute;
        top: 250px;
        margin-left: 75%;
        width: 180px;
        height: 180px;
    }
}
@media (max-width: 992px) {
    #DivYears {
        position: absolute;
        top: 360px;
        margin-left: -90px;
        left: 50%;
        width: 180px;
        height: 180px;
    }
}
